<div class='tabla-product'>
  <table
    class='table align-middle table-dark table-striped table-bordered text-center'
  >
    <thead>
      <tr>
        <th scope='col'>Name</th>
        <th scope='col'>Price</th>
        <th scope='col'>Image</th>
      </tr>
    </thead>
    <tbody id='list-Product'>
    </tbody>
  </table>
</div>